@mixin seo-hide() {
  width: 1px;
  height: 1px;
  overflow: hidden;

  display: inline-block;

  font-size: 0;

  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;

  position: absolute !important;

  clip: rect(1px, 1px, 1px, 1px);
}

@mixin inset($pixels) {
  position: absolute;
  top: $pixels;
  right: $pixels;
  bottom: $pixels;
  left: $pixels;
}
