@use "@/app/styles/colors.module.scss" as *;
@use "@/app/styles/breakpoints" as *;

.main {
  .container {
    padding: 24px;
    margin: 0 auto 24px;

    .title {
      color: $text;
      text-align: start;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 2.7rem;
      padding-bottom: 8px;
      margin-bottom: 12px;
      border-bottom: 1px solid $gray600;
    }

    .subtitle {
      color: $text;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 2.2rem;
      margin: 24px 0 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid $gray300;
    }

    .inputGroups {
      display: flex;
      flex-direction: column;

      margin-bottom: 16px;

      .inlineGroup {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
  }
}

@include from720 {
  .main {
    .container {
      width: 87%;
      max-width: 1200px;
      background: $gray100;
      border-radius: 4px;

      margin: 48px auto 16px;

      .inputGroups {
        .inlineGroup {
          flex-direction: row;

          .nameInput {
            width: 50%;
          }
        }
      }
    }
  }
}
