@use "@/app/styles/colors.module.scss" as *;
@use "@/app/styles/breakpoints" as *;

@mixin ellipsis($lineCount) {
  overflow: hidden;

  display: -webkit-box;

  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lineCount;
}

.container {
  width: 100%;

  margin: 12px 0 0;

  color: $gray600;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;

  position: relative;

  &:focus {
    outline: 0;
  }

  &.errorHeight {
    margin-bottom: 24px;
  }

  &.containerError {
    color: $error;
  }

  &.containerFocus {
    color: $info;
  }

  &.containerFilled {
    color: $gray600;
  }

  .selectWrapper {
    min-height: 44px;

    padding: 14px 16px;
    box-sizing: border-box;

    position: relative;

    cursor: pointer;

    &:focus {
      outline: 0;
    }

    &.borderBottom {
      padding: 0;

      .label {
        font-size: 2rem;
        font-weight: 500;
        line-height: 2.4rem;

        left: 0;

        &.labelAnimate {
          display: none;
        }
      }

      .selectedOption {
        color: $text;
        font-size: 2rem;
        font-weight: 500;
        line-height: 2.4rem;

        padding-top: 15px;
      }

      .fieldset {
        border: 0;
        border-bottom: 1px solid #767374;

        border-radius: 0;
      }
    }

    .arrow {
      width: 0;
      height: 0;

      line-height: 0px;

      border-style: solid;
      border-color: $gray600 transparent transparent;
      _border-color: $gray600 #000 #000;
      border-width: 7px 7px 0;

      position: absolute;
      top: 20px;
      right: 10px;
    }

    .label {
      color: currentColor;

      position: absolute;
      top: 15px;
      left: 14px;

      transform: translate3d(0, 0, 0);

      transition: all 0.2s ease-in-out;

      pointer-events: none;

      &.labelAnimate {
        color: $info;
        font-size: 1.2rem;

        transform: translate3d(0, -24px, 0);

        &.darkTheme {
          color: $white;
        }
      }

      &.labelError {
        color: $error;
      }

      &.labelFilled {
        color: $gray600;
      }
    }

    .selectedOption {
      color: $gray600;

      &.darkTheme {
        color: $white;
      }

      > span {
        @include ellipsis(1);
      }
    }

    .inputFilterWrapper {
      width: 100%;

      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 5;

      .inputFilter {
        width: 100%;

        color: $text;
        font-size: 1.6rem;
        line-height: 2.2rem;

        padding: 11px 21px 18px;
        border: 0;
        box-sizing: border-box;

        background: transparent;
        opacity: 0;
        border-radius: 5px;

        &:focus {
          background: $white;
          outline: 0;
        }

        &.visible {
          opacity: 1;

          ~ .searchIcon {
            display: block;
          }
        }
      }

      .searchIcon {
        display: none;

        position: absolute;
        top: 11px;
        right: 16px;
      }
    }

    .listItemsWrapper {
      position: absolute;
      top: 100%;
      right: 0;
      bottom: -150px;
      left: 0;
      z-index: -5;

      &.listItemsWrapperVisible {
        z-index: 9999;

        .listItems {
          opacity: 1;

          visibility: visible;
        }
      }

      .listItems {
        width: 100%;
        max-height: 150px;
        overflow-y: auto;

        color: $gray600;

        padding: 8px 0;
        box-sizing: border-box;

        z-index: -5;

        background-color: #fff;
        opacity: 0;
        box-shadow: -6px 12px 60px rgba(0, 0, 0, 0.1);
        border-radius: 4px;

        transition: visibility 0.1s ease, opacity 0.5s ease;

        visibility: hidden;

        &::-webkit-scrollbar {
          width: 6px;
        }

        &::-webkit-scrollbar-track {
          background: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #9e9e9e;
          border-radius: 20px;
        }

        &.bigger {
          max-height: 250px;
        }
      }
    }

    .fieldset {
      padding: 0 8px;
      border: 1px solid currentColor;

      position: absolute;
      top: -5px;
      right: 0;
      bottom: 0;
      left: 0;

      border-radius: 4px;

      pointer-events: none;

      &.borderless {
        border: 0;
      }

      &.fieldsetFocus {
        border: 2px solid $info;

        &.darkTheme {
          border: 2px solid $white;
        }
      }

      &.fieldsetError {
        border: 1px solid $error;
      }

      &.fieldsetFilled {
        border: 1px solid $gray600;
      }

      .legend {
        width: auto;
        max-width: 0.01px;
        height: 11px;

        display: block;

        text-align: left;

        padding: 0;

        transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;

        visibility: hidden;

        &.legendFocus {
          max-width: 100%;
        }

        &.legendFilled {
          width: auto;
        }

        .legendTitle {
          font-size: 1.22rem;

          &.legendPadding {
            padding: 0 2px;
          }
        }
      }
    }
  }

  .errorWrapper {
    display: flex;

    align-items: center;

    color: currentColor;
    font-weight: normal;

    margin: 5px 0 0 5px;

    .icon {
      font-size: 1.4rem;

      margin-right: 5px;
      vertical-align: middle;
    }

    .errorMessage {
      color: $error;
      text-align: start;
      font-size: 1.1rem;

      margin-bottom: -1px;
    }
  }
}

@include from1024 {
  .container {
    &.errorHeight {
      min-height: 70px;

      margin-bottom: 8px;
    }
  }
}
