@use "@/app/styles/colors.module.scss" as *;

.container {
  padding: 8px;

  background-color: $white;

  transition: all 0.3s ease;

  cursor: pointer;

  &:hover {
    background-color: darken($white, 10);
  }

  &.selected {
    background-color: darken($white, 10);
  }

  &.isOdd {
    background-color: $gray300;

    &:hover {
      background-color: darken($gray300, 10);
    }
  }
}
