@use "@/app/styles/colors.module.scss" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Montserrat", "icomoon", sans-serif, Arial, Helvetica;
  font-size: 62.5%;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-feature-settings: normal;
  font-variant: normal;

  scroll-behavior: smooth;

  font-display: swap;
}
