@use "@/app/styles/colors.module.scss" as *;
@use "@/app/styles/breakpoints" as *;

.header {
  width: 100%;
  .navContainer {
    display: flex;
    width: 87%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 8px 24px;

    box-sizing: border-box;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9995;

    background-color: transparent;
    backdrop-filter: blur(3px);

    transition: all 0.2s ease-in-out;

    justify-content: flex-end;

    .linksList {
      display: flex;
      flex-direction: row;
      gap: 8px;
      .linkWrapper {
        list-style: none;
        .link {
          display: flex;

          align-items: center;
          justify-content: center;

          color: $text;

          font-size: 1.4rem;
          font-weight: 500;
          text-decoration: none;
          letter-spacing: 1px;

          padding: 6px 12px;

          border-radius: 16px;

          &:hover {
            background: $gray400;
          }
        }
      }
    }
  }
}

.main {
  .container {
    padding: 24px;
    margin: 0 auto 24px;

    .title {
      color: $text;
      text-align: start;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 2.7rem;
      padding-bottom: 8px;
      margin-bottom: 12px;
      border-bottom: 1px solid $gray600;
    }

    .subtitle {
      color: $text;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 2.2rem;
      margin: 24px 0 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid $gray300;
    }

    .professionalTitle {
      text-transform: capitalize;
      color: $text;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 2rem;
      margin: 8px 0 8px;
    }

    .inputGroups {
      display: flex;
      flex-direction: column;

      margin-bottom: 16px;

      .inlineGroup {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }

    .divider {
      height: 1px;
      background: $gray300;
      width: 100%;
      margin: 24px 0 0;
    }

    .checkboxContainer {
      margin-top: 12px;
      font-size: 1.4rem;
      line-height: 1.8rem;

      display: flex;
      align-items: center;

      gap: 8px;

      .checkbox {
        display: flex;
      }
    }
  }
}

@include from720 {
  .main {
    .container {
      width: 87%;
      max-width: 1200px;
      background: $gray100;
      border-radius: 4px;

      margin: 48px auto 16px;

      .inputGroups {
        .inlineGroup {
          flex-direction: row;
          justify-content: space-between;

          .nameInput {
            width: 50%;
          }
        }
      }
    }
  }
}
